<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="visual">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import visual urdf file -->
    <xacro:include filename="$(find braccio_arm)/urdf/braccio.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="visual.ros2_control.xacro" />


    <xacro:visual_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
